<div class="container top-30">
  <div class="row">
    <div class="col-md-3">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text fa fa-search" id="basic-addon1"></span>
        </div>
        <input
          #term
          type="text"
          class="form-control"
          placeholder="Buscar artista..."
          aria-label="artist"
          aria-describedby="basic-addon1"
          (keyup)="search(term.value)"
        />
      </div>
      <hr />
    </div>
    <div class="col-md-9">
      <app-loading *ngIf="loading"></app-loading>
      <app-error *ngIf="errorActivate" [error]="error"></app-error>
      <div
        *ngIf="!loading && term.value.length > 0 && artists.length === 0"
        class="alert alert-info animated fadeIn"
      >
        <h3>No se encontraron resultados para "{{ term.value }}"</h3>
        <p>
          Asegúrese de que sus palabras estén escritas correctamente o use menos
          palabras clave o diferentes.
        </p>
      </div>

      <app-card *ngIf="!loading && !errorActivate" [items]="artists"></app-card>
    </div>
  </div>
</div>
